# Dependências
node_modules/

# Build
dist/
.angular/

# IDE - VS Code
.vscode/
!.vscode/extensions.json

# IDE - IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets / environment
.env
src/environments/environment.local.ts

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
